@{
    ViewBag.Title = "About";
    ViewBag.Description = "This screen explains the purpose of the application";
}
    <h2>@ViewBag.Title.</h2>

    <p>This is a demo project.</p>

<p>It is designed to be expanded and to show off programming skills.  It is mean to start as a very simple app and
    then further expanded.</p>

<p>The auther of the is app is David Scott Blackburn.</p>