@{
    ViewBag.Title = "Contact";
    ViewBag.Description = "This screen displays how to contact the site's author.  It is a secure screen.";
}

    <h2>@ViewBag.Title</h2>

    <div>
        If you wish to contact the author of this site, 
        <strong>David Scott Blackburn</strong>, please do so though his LinkedIN account.
    </div>
<br />
<br />
    <address>
        <strong>Contact:</strong>   <a href="https://www.linkedin.com/in/sblackburn31/">https://www.linkedin.com/in/sblackburn31/</a><br />
    </address>
