@{
    ViewBag.Title = "Help";
    ViewBag.Description = "This is a old style help screen.  I believe it is more helpful than newer web based help systems.";
}
<h2>@ViewBag.Title.</h2>
<h3>How to use the app?</h3>
<p>In order to use this app you must use <strong>Sign Up</strong> and enter an email and a password.</p>
<p>Once you have signed up to use the system.  Use the same email and password to <strong>Sign In</strong> and use your notebook.</p>
<h3>How do I create a Notebook</h3>
<p>A new notebook is created after completing the sign-up process.</p>
<h3>What is a Notebook</h3>
<p>Your notebook is where you can access the notes you have created.</p>
<h3>How to Create a New Note</h3>
<p>
    Use the <strong>Create Note</strong> button to create a note.  <strong>Saving</strong> the note brings up
    the edit screen.  Using <strong>Cancel</strong> will not
    save the note and return to the notebook.
</p>
<h3>How to Edit a Note</h3>
<p>
    Selecting the <strong>Edit</strong> option next to a note will bring the note up in the edit screen.
    From here the note and subject
    can be changed.   The <strong>save</strong> button will save the changes made.  <strong>Cancel Edit</strong> will 
    return to the notebook
    losing all of the changes made since the last time the save option was done.
</p>
<h3>How to View a Note</h3>
<p>
    To view a note select the <strong>View</strong> option next
    to the note to be viewed.  This causes the note to be displayed.
    The note can then be <strong>edited</strong> or one can return to the notebook.
</p>
<h3>How to Delete a Note</h3>
<p>
    While in the Notebook select the <strong>Delete</strong> option next to the note that is to be removed.
    This will display
    the note.  Pressing <strong>Delete</strong> will remove the note.
    Pressing <strong>Cancel</strong> will return to the notebook.
</p>

