@* Author: David Scott Blackburn *@
@* Project: Notebook Demo App *@
@* Version: 1.0.0 *@
@* Purpose: *@
@model System.Web.Mvc.HandleErrorInfo

@*********************************************
    *   This is a generated view screen create by Visual Studio
    **********************************************@


@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
